<style>
  #shopify-section-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --color-background: {{ section.settings.color_background.rgb }};
    --color-foreground: {{ section.settings.color_text.rgb }};
    --color-transparent: {{ section.settings.transparent_color_text.rgb }};
  }
</style>

{%- liquid
  assign header_layout = section.settings.header_layout
  assign main_menu = section.settings.menu
  assign link_count = main_menu.links.size

  if header_layout == 'center-split'
    assign link_count = link_count | divided_by: 2
  endif

  assign main_menu_class = 'lg:justify-start'
  case header_layout
    when 'center-split'
      assign main_menu_class = 'lg:justify-end'

    when 'center'
      assign main_menu_class = 'lg:justify-center'
  endcase

  assign show_toggle = false
  if header_layout == 'center'
    assign show_toggle = true
  endif

  render 'header-drawer', section: section
-%}

<header
  data-section-id="{{ section.id }}"
  class="header header--{{ header_layout }} mobile:header--{{ section.settings.logo_position_mobile }} page-width{% if section.settings.full_width %} page-width--full{% endif %} section{% if section.settings.rounded %} section--rounded{% endif %} section--padding grid items-center z-20 relative w-full"
  {% if section.settings.sticky_header_type != 'none' %}
    is="sticky-header" data-sticky-type="{{ section.settings.sticky_header_type }}"
  {% else %}
    is="custom-header"
  {% endif %}
>
  {%- liquid
    render 'header-icons', show_search: true, show_hamburger: true, show_toggle: show_toggle, dir: 'start'

    if header_layout != 'center-left' and header_layout != 'center-split'
      render 'header-logo'
    endif

    if header_layout == 'center'
      render 'header-icons', show_search: true, show_account: true, show_cart: true, show_hamburger: true, dir: 'end'
    endif
  -%}

  <div
    class="header__navigation hidden lg:flex lg:gap-5 {{ main_menu_class }}"
    {% if header_layout == 'center' %}
      id="MenuToggle"
    {% endif %}
  >
    <nav class="header__menu hidden lg:flex" role="navigation" aria-label="Primary">
      {%- render 'header-nav-desktop', section: section, main_menu: main_menu, limit: link_count -%}
    </nav>
  </div>

  {%- liquid
    if header_layout == 'center-left' or header_layout == 'center-split'
      render 'header-logo'
    endif
  -%}

  {%- if header_layout == 'center-split' -%}
    <div class="header__navigation header__navigation--split hidden lg:flex lg:gap-5 lg:justify-start">
      <nav class="header__menu hidden lg:flex" role="navigation" aria-label="Secondary">
        {%- render 'header-nav-desktop', section: section, main_menu: main_menu, offset: link_count -%}
      </nav>
    </div>
  {%- endif -%}
  <div class="header__icons header__icons--end flex justify-end">
    <div class="header__buttons flex items-center gap-1d5">
      <div class="vat-switcher-inline visible-desktop"></div>
    </div>
  </div>
  {%- liquid
    if header_layout != 'center'
      render 'header-icons', show_search: true, show_account: true, show_cart: true, show_hamburger: true, dir: 'end'
    endif
  -%}

  {%- if section.settings.rounded -%}
    {%- render 'corner', dir: 'bottom', border: true, prefix: 'header' -%}
  {%- else -%}
    <span class="header__cutout cutout opacity-0 absolute left-0 top-100 w-full pointer-events-none"></span>
  {%- endif -%}
</header>

{%- if section.settings.hover_menu -%}
  <span class="overlay opacity-0 z-1 fixed left-0 w-full pointer-events-none"></span>
{%- else -%}
  <overlay-element class="overlay opacity-0 z-1 fixed left-0 w-full pointer-events-none"></overlay-element>
{%- endif -%}

<script>
  if (Shopify.designMode) {
    document.documentElement.style.setProperty(
      '--header-height',
      Math.round(document.getElementById('shopify-section-{{ section.id }}').clientHeight) + 'px'
    );
  }
</script>
