{%- liquid
  comment
    Check if section should be hidden for HubPro members
  endcomment

  assign hide_for_hubpro = false
  if section.settings.hide_for_hubpro_members and customer
    for tag in customer.tags
      if tag == 'hubpro-free' or tag == 'hubpro-plus'
        assign hide_for_hubpro = true
        break
      endif
    endfor
  endif
-%}

{%- unless hide_for_hubpro -%}
  <style>
    #shopify-section-{{ section.id }} {
      --section-padding-top: {{ section.settings.padding_top }}px;
      --section-padding-bottom: {{ section.settings.padding_bottom }}px;
      {%- render 'section-variables', section: section -%}
    }
  </style>

  <div class="section section--padding{% if section.settings.divider %} section--divider{% endif %}{% if section.settings.rounded %} section--rounded relative{% endif %}">
    <div class="page-width{% if section.settings.full_width %} page-width--full{% endif %} relative">
      <div class="image-with-text flex gap-8 flex-col{% if section.settings.layout == 'image_first' %} lg:flex-row{% else %} lg:flex-row-reverse{% endif %}">
        <div class="image-with-text__item grow shrink-0{% if section.settings.image_width == 'small' %} lg:grow-0{% endif %} relative">
          <div class="image-with-text__media">
            {%- if section.settings.image != blank -%}
              <media-element
                class="image-with-text__image-first block"
                {%- if section.settings.enable_parallax %}
                  data-parallax="0.3" data-parallax-dir="vertical"
                {% endif -%}
              >
                <picture class="media media--{{ section.settings.image_ratio }} block relative overflow-hidden">
                  {{-
                    section.settings.image
                    | image_url: width: section.settings.image.width
                    | image_tag: loading: 'lazy', widths: '180,360,540,720,900,1080', is: 'lazy-image'
                  -}}
                </picture>
              </media-element>
            {%- else -%}
              <div class="image-with-text__image-first block">
                <picture class="media media--{{ section.settings.image_ratio }} block relative overflow-hidden">
                  {{- 'collection-1' | placeholder_svg_tag: 'placeholder' -}}
                </picture>
              </div>
            {%- endif -%}
          </div>
        </div>
        <div class="image-with-text__item grow shrink-0{% if section.settings.image_width == 'large' %} lg:grow-0{% endif %} align-self-center">
          <div class="rich-text lg:text-{{ section.settings.text_alignment }} text-{{ section.settings.text_alignment_mobile }} relative z-1">
            {%- liquid
              assign with_gradient = false
              if section.settings.gradient_highlight != blank and section.settings.gradient_highlight != 'rgba(0,0,0,0)'
                assign with_gradient = true
              endif

              assign delay = 0
            -%}
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when '@app' -%}
                  {%- render block -%}

                {%- when 'spacing' -%}
                  <empty-element
                    class="block spacing-section{% if block.settings.height_mobile == 0 %} hidden lg:block{% endif %}{% if block.settings.height == 0 %} lg:hidden{% endif %}"
                    style="--spacing-height-desktop: {{ block.settings.height }}px;--spacing-height-mobile: {{ block.settings.height_mobile }}px;"
                    {{ block.shopify_attributes }}
                  ></empty-element>

                {%- when 'subheading' -%}
                  {%- if block.settings.subheading != blank -%}
                    <p
                      class="banner__subheading heading uppercase leading-none tracking-widest {{ block.settings.subheading_size }}{% if block.settings.secondary_color %} banner__text--colored{% endif %}"
                      {{ block.shopify_attributes }}
                    >
                      {{- block.settings.subheading -}}
                    </p>
                  {%- endif -%}

                {%- when 'heading' -%}
                  {%- if block.settings.heading != blank -%}
                    {%- assign delay = delay | plus: 1 -%}
                    <{{ block.settings.heading_tag }}
                      class="heading leading-none {{ block.settings.heading_size }}"
                      {{ block.shopify_attributes }}
                    >
                      {%- if block.settings.highlighted_text == 'none' -%}
                        <split-words
                          class="split-words js-invisible block"
                          data-animate="fade-up-large"
                          data-animate-delay="{{ delay | times: 250 }}"
                        >
                          {{- block.settings.heading -}}
                        </split-words>
                      {%- else -%}
                        {%- render 'highlighted-text',
                          content: block.settings.heading,
                          style: block.settings.highlighted_text,
                          scribble: block.settings.highlighted_scribble,
                          gradient: with_gradient
                        -%}
                      {%- endif -%}
                    </{{ block.settings.heading_tag }}>
                  {%- endif -%}

                {%- when 'text' -%}
                  {%- if block.settings.text != blank -%}
                    <div
                      class="rte {{ block.settings.text_font }} {{ block.settings.text_size }}{% if block.settings.text_font == 'subtitle' %} uppercase leading-tight tracking-widest{% else %} leading-normal{% endif %}{% if block.settings.secondary_color %} text-opacity{% endif %}"
                      {% if block.settings.text_size == 'subtext-custom' %}
                        style="--subtext-size: {{ block.settings.text_max_size }}px;--subtext-line-height: {{ block.settings.text_line_height }};--subtext-letter-spacing: {{ block.settings.text_letter_spacing | divided_by: 1000.00 }}em;{% if block.settings.text_capitalize %}--subtext-text-transform: uppercase;{% endif %}"
                      {% endif %}
                      {{ block.shopify_attributes }}
                    >
                      {%- render 'highlighted-text',
                        content: block.settings.text,
                        style: block.settings.highlighted_text,
                        scribble: block.settings.highlighted_scribble,
                        gradient: with_gradient
                      -%}
                    </div>
                  {%- endif -%}

                {%- when 'image' -%}
                  {%- if block.settings.image != blank -%}
                    <div class="leading-none" {{ block.shopify_attributes }}>
                      <figure class="media media--transparent relative inline-block">
                        {%- if block.settings.image_width == 'custom' -%}
                          {%- capture style -%}--image-max-width: {{ block.settings.image_max_width }}px; --image-max-width-mobile: {{ block.settings.image_max_width_mobile }}px{%- endcapture -%}
                          {%- capture sizes -%}(max-width: 767px) min({{ block.settings.image_max_width_mobile }}px, 100vw), min({{ block.settings.image_max_width }}px, 100vw){%- endcapture -%}
                          {%- capture widths -%}{{ block.settings.image_max_width_mobile }},{{ block.settings.image_max_width_mobile | times: 2 }},{{ block.settings.image_max_width }},{{ block.settings.image_max_width | times: 2 }}{%- endcapture -%}
                        {%- else -%}
                          {%- assign sizes = 'min(100vw, var(--page-width))' -%}
                          {%- assign widths = '50,75,100,150,200,300,400,500,750,1000,1250,1500,1750,2000,2250,2500,2750,3000,3200' -%}
                        {%- endif -%}
                        {{-
                          block.settings.image
                          | image_url: width: block.settings.image.width
                          | image_tag:
                            loading: 'lazy',
                            sizes: sizes,
                            widths: widths,
                            style: style,
                            is: 'lazy-image',
                            class: 'image-fit'
                        -}}
                      </figure>
                    </div>
                  {%- endif -%}

                {%- when 'button' -%}
                  {%- if block.settings.button_label != blank -%}
                    {%- render 'button',
                      label: block.settings.button_label,
                      link: block.settings.button_link,
                      size: block.settings.button_size,
                      style: block.settings.button_style,
                      external: block.settings.button_external,
                      show_icon: block.settings.button_icon,
                      shopify_attributes: block.shopify_attributes
                    -%}
                  {%- endif -%}

                {%- when 'link' -%}
                  {%- if block.settings.label != blank -%}
                    <a
                      class="link inline-block"
                      {% if block.settings.link != blank %}
                        href="{{ block.settings.link }}"
                        {%- if block.settings.external %} target="_blank" rel="noopener"{% endif -%}
                      {% else %}
                        role="link" aria-disabled="true"
                      {% endif %}
                      {{ block.shopify_attributes }}
                    >
                      {{- block.settings.label -}}
                    </a>
                  {%- endif -%}

                {%- when 'liquid' -%}
                  {%- if block.settings.liquid != blank -%}
                    <div class="rte" {{ block.shopify_attributes }}>
                      {{- block.settings.liquid -}}
                    </div>
                  {%- endif -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endunless -%}

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.global.settings.image.label"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.global.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.global.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.global.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.global.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.global.settings.column_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.global.settings.column_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.global.settings.column_size.options__3.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.global.settings.column_size.label"
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.global.settings.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.global.settings.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.global.settings.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.global.settings.text_alignment.label"
    },
    {
      "type": "select",
      "id": "text_alignment_mobile",
      "options": [
        {
          "value": "left",
          "label": "t:sections.global.settings.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.global.settings.text_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.global.settings.text_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.global.settings.text_alignment_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__colors.content"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "t:sections.global.settings.color_text.label"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "t:sections.global.settings.color_background.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background",
      "label": "t:sections.global.settings.gradient_background.label"
    },
    {
      "type": "color",
      "id": "color_background_2",
      "label": "t:sections.global.settings.color_background_2.label"
    },
    {
      "type": "color_background",
      "id": "gradient_background_2",
      "label": "t:sections.global.settings.gradient_background_2.label"
    },
    {
      "type": "color",
      "id": "color_highlight",
      "label": "t:sections.global.settings.color_highlight.label"
    },
    {
      "type": "color_background",
      "id": "gradient_highlight",
      "label": "t:sections.global.settings.gradient_highlight.label"
    },
    {
      "type": "color",
      "id": "color_button_text",
      "label": "t:sections.global.settings.color_button_text.label"
    },
    {
      "type": "color",
      "id": "color_button_background",
      "label": "t:sections.global.settings.color_button_background.label"
    },
    {
      "type": "color_background",
      "id": "color_button_gradient",
      "label": "t:sections.global.settings.color_button_gradient.label"
    },
    {
      "type": "header",
      "content": "t:sections.global.settings.header__section.content"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_top.label",
      "default": 72
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.global.settings.padding_bottom.label",
      "default": 72
    },
    {
      "type": "checkbox",
      "id": "divider",
      "label": "t:sections.global.settings.divider.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.global.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "rounded",
      "label": "t:sections.global.settings.rounded.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "hide_for_hubpro_members",
      "label": "Hide for HubPro Members",
      "info": "Hide this section for customers with HubPro Free or HubPro Plus membership",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "t:sections.global.settings.enable_parallax.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "subheading",
      "name": "t:sections.global.blocks.subheading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "subheading",
          "label": "t:sections.global.settings.subheading.label"
        },
        {
          "type": "select",
          "id": "subheading_size",
          "options": [
            {
              "value": "subtext-sm",
              "label": "t:sections.global.settings.subheading_size.options__1.label"
            },
            {
              "value": "subtext-md",
              "label": "t:sections.global.settings.subheading_size.options__2.label"
            },
            {
              "value": "subtext-lg",
              "label": "t:sections.global.settings.subheading_size.options__3.label"
            },
            {
              "value": "subtext-xl",
              "label": "t:sections.global.settings.subheading_size.options__4.label"
            }
          ],
          "default": "subtext-md",
          "label": "t:sections.global.settings.subheading_size.label"
        },
        {
          "type": "checkbox",
          "id": "secondary_color",
          "label": "t:sections.global.settings.secondary_color.label",
          "default": false
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.global.blocks.heading.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "t:sections.global.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h6",
              "label": "t:sections.global.settings.heading_size.options__1.label"
            },
            {
              "value": "h5",
              "label": "t:sections.global.settings.heading_size.options__2.label"
            },
            {
              "value": "h4",
              "label": "t:sections.global.settings.heading_size.options__3.label"
            },
            {
              "value": "h3",
              "label": "t:sections.global.settings.heading_size.options__4.label"
            },
            {
              "value": "h2",
              "label": "t:sections.global.settings.heading_size.options__5.label"
            },
            {
              "value": "h1",
              "label": "t:sections.global.settings.heading_size.options__6.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.global.settings.heading_size.label"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "options": [
            {
              "value": "h1",
              "label": "t:sections.global.settings.heading_tag.options__1.label"
            },
            {
              "value": "h2",
              "label": "t:sections.global.settings.heading_tag.options__2.label"
            },
            {
              "value": "h3",
              "label": "t:sections.global.settings.heading_tag.options__3.label"
            },
            {
              "value": "h4",
              "label": "t:sections.global.settings.heading_tag.options__4.label"
            },
            {
              "value": "h5",
              "label": "t:sections.global.settings.heading_tag.options__5.label"
            },
            {
              "value": "h6",
              "label": "t:sections.global.settings.heading_tag.options__6.label"
            }
          ],
          "default": "h2",
          "label": "t:sections.global.settings.heading_tag.label"
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.highlighted_text.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.global.settings.highlighted_text.options__2.label"
            },
            {
              "value": "full_text",
              "label": "t:sections.global.settings.highlighted_text.options__3.label"
            },
            {
              "value": "half_text",
              "label": "t:sections.global.settings.highlighted_text.options__4.label"
            },
            {
              "value": "underline",
              "label": "t:sections.global.settings.highlighted_text.options__5.label"
            },
            {
              "value": "stencil",
              "label": "t:sections.global.settings.highlighted_text.options__6.label"
            },
            {
              "value": "scribble",
              "label": "t:sections.global.settings.highlighted_text.options__7.label"
            }
          ],
          "default": "none",
          "label": "t:sections.global.settings.highlighted_text.label"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
            },
            {
              "value": "basic_underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
            },
            {
              "value": "sketch_underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
            },
            {
              "value": "squiggle_underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
            },
            {
              "value": "squiggle_underline_2",
              "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
            }
          ],
          "default": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.label",
          "info": "t:sections.global.settings.highlighted_scribble.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.global.blocks.text.name",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.global.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_font",
          "options": [
            {
              "value": "body",
              "label": "t:sections.global.settings.text_font.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.global.settings.text_font.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.global.settings.text_font.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "subtext-sm",
              "label": "t:sections.global.settings.text_size.options__1.label"
            },
            {
              "value": "subtext-md",
              "label": "t:sections.global.settings.text_size.options__2.label"
            },
            {
              "value": "subtext-lg",
              "label": "t:sections.global.settings.text_size.options__3.label"
            },
            {
              "value": "subtext-xl",
              "label": "t:sections.global.settings.text_size.options__4.label"
            },
            {
              "value": "subtext-custom",
              "label": "t:sections.global.settings.text_size.options__5.label"
            }
          ],
          "default": "subtext-md",
          "label": "t:sections.global.settings.text_size.label"
        },
        {
          "type": "range",
          "id": "text_max_size",
          "label": "t:sections.global.settings.text_max_size.label",
          "default": 32,
          "min": 12,
          "max": 128,
          "step": 2,
          "unit": "px",
          "visible_if": "{{ block.settings.text_size == 'subtext-custom' }}"
        },
        {
          "type": "range",
          "id": "text_line_height",
          "label": "t:sections.global.settings.text_line_height.label",
          "default": 1.6,
          "min": 1,
          "max": 3,
          "step": 0.1,
          "visible_if": "{{ block.settings.text_size == 'subtext-custom' }}"
        },
        {
          "type": "range",
          "id": "text_letter_spacing",
          "label": "t:sections.global.settings.text_letter_spacing.label",
          "default": 0,
          "min": -150,
          "max": 150,
          "step": 25,
          "unit": "em",
          "visible_if": "{{ block.settings.text_size == 'subtext-custom' }}"
        },
        {
          "type": "checkbox",
          "id": "text_capitalize",
          "label": "t:sections.global.settings.text_capitalize.label",
          "default": false,
          "visible_if": "{{ block.settings.text_size == 'subtext-custom' }}"
        },
        {
          "type": "checkbox",
          "id": "secondary_color",
          "label": "t:sections.global.settings.secondary_color.label",
          "default": false
        },
        {
          "type": "select",
          "id": "highlighted_text",
          "options": [
            {
              "value": "none",
              "label": "t:sections.global.settings.highlighted_text.options__1.label"
            },
            {
              "value": "text",
              "label": "t:sections.global.settings.highlighted_text.options__2.label"
            },
            {
              "value": "full_text",
              "label": "t:sections.global.settings.highlighted_text.options__3.label"
            },
            {
              "value": "half_text",
              "label": "t:sections.global.settings.highlighted_text.options__4.label"
            },
            {
              "value": "underline",
              "label": "t:sections.global.settings.highlighted_text.options__5.label"
            },
            {
              "value": "stencil",
              "label": "t:sections.global.settings.highlighted_text.options__6.label"
            },
            {
              "value": "scribble",
              "label": "t:sections.global.settings.highlighted_text.options__7.label"
            }
          ],
          "default": "none",
          "label": "t:sections.global.settings.highlighted_text.label"
        },
        {
          "type": "select",
          "id": "highlighted_scribble",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.global.settings.highlighted_scribble.options__1.label"
            },
            {
              "value": "basic_underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__2.label"
            },
            {
              "value": "sketch_underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__3.label"
            },
            {
              "value": "squiggle_underline",
              "label": "t:sections.global.settings.highlighted_scribble.options__4.label"
            },
            {
              "value": "squiggle_underline_2",
              "label": "t:sections.global.settings.highlighted_scribble.options__5.label"
            }
          ],
          "default": "circle",
          "label": "t:sections.global.settings.highlighted_scribble.label",
          "info": "t:sections.global.settings.highlighted_scribble.info"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.global.blocks.button.name",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.global.settings.button_label.label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.global.settings.button_link.label"
        },
        {
          "type": "select",
          "id": "button_style",
          "options": [
            {
              "value": "primary",
              "label": "t:sections.global.settings.button_style.options__1.label"
            },
            {
              "value": "secondary",
              "label": "t:sections.global.settings.button_style.options__2.label"
            },
            {
              "value": "link",
              "label": "t:sections.global.settings.button_style.options__3.label"
            }
          ],
          "default": "primary",
          "label": "t:sections.global.settings.button_style.label"
        },
        {
          "type": "select",
          "id": "button_size",
          "options": [
            {
              "value": "sm",
              "label": "t:sections.global.settings.button_size.options__1.label"
            },
            {
              "value": "md",
              "label": "t:sections.global.settings.button_size.options__2.label"
            },
            {
              "value": "lg",
              "label": "t:sections.global.settings.button_size.options__3.label"
            }
          ],
          "default": "md",
          "label": "t:sections.global.settings.button_size.label"
        },
        {
          "type": "checkbox",
          "id": "button_external",
          "label": "t:sections.global.settings.button_external.label",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "button_icon",
          "label": "t:sections.global.settings.button_icon.label",
          "default": true
        }
      ]
    },
    {
      "type": "image",
      "name": "t:sections.global.blocks.image.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.global.settings.image.label"
        },
        {
          "type": "radio",
          "id": "image_width",
          "options": [
            {
              "value": "full_width",
              "label": "t:sections.global.settings.image_width.options__1.label"
            },
            {
              "value": "custom",
              "label": "t:sections.global.settings.image_width.options__2.label"
            }
          ],
          "default": "custom",
          "label": "t:sections.global.settings.image_width.label"
        },
        {
          "visible_if": "{{ block.settings.image_width == 'custom' }}",
          "type": "range",
          "id": "image_max_width",
          "label": "t:sections.global.settings.image_max_width.label",
          "default": 50,
          "min": 20,
          "max": 1000,
          "step": 10,
          "unit": "px"
        },
        {
          "visible_if": "{{ block.settings.image_width == 'custom' }}",
          "type": "range",
          "id": "image_max_width_mobile",
          "label": "t:sections.global.settings.image_max_width_mobile.label",
          "default": 50,
          "min": 20,
          "max": 600,
          "step": 10,
          "unit": "px"
        }
      ]
    },
    {
      "type": "liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "liquid",
          "label": "t:sections.custom-liquid.settings.liquid.label",
          "info": "t:sections.custom-liquid.settings.liquid.info"
        }
      ]
    },
    {
      "type": "spacing",
      "name": "t:sections.empty-space.name",
      "settings": [
        {
          "type": "range",
          "id": "height",
          "label": "t:sections.empty-space.settings.height.label",
          "default": 40,
          "min": 0,
          "max": 120,
          "step": 4,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "height_mobile",
          "label": "t:sections.empty-space.settings.height_mobile.label",
          "default": 28,
          "min": 0,
          "max": 120,
          "step": 4,
          "unit": "px"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": ["footer", "header", "custom.overlay"]
  }
}
{% endschema %}
